@charset 'UTF-8';

body{
    background-color: #E4F2E7;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
h1{
    color: #2D3E40;
}
h1#principal{
    text-align: center;
    background-color: #2D3E40;
    color: white;
}
.basico{
    color: #45C4B0;
}
.intermediario{
    color: #69c445;
}
.avançado{
    color:#c44545;
}

h2{
    color: #97A6A0;
}