@charset "UTF-8";

/* Todas demais Midias */

/* Typical Device breakpoints 
Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more.
*/

@media print {
    body{
        background-image: url(../imagens/back-print.jpg);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) { 
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    
    #celular{ display: none; }
    #tablet{display: block;  }
    #pc{ display: none;}
    #Impressora{display: none; }
    #tv{  display: none;}
}

@media screen and (min-width: 1025px) and (max-width: 1200px) { 
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    #celular{ display: none; }
    #tablet{display: none;  }
    #pc{ display: block;}
    #Impressora{display: none; }
    #tv{  display: none;}
    
}

@media screen and (min-width: 1201px) {
    body{ background-image: url(../imagens/back-tv.jpg);
    }
    #celular{ display: none; }
    #tablet{display: none;  }
    #pc{ display: none;}
    #Impressora{display: none; }
    #tv{  display: block;}

}
